<head>
<!-- Bootstrap Core CSS -->
    <link href="http://i.cs.hku.hk/~kpng/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="http://i.cs.hku.hk/~kpng/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="http://i.cs.hku.hk/~kpng/vendor/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://i.cs.hku.hk/~kpng/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="http://i.cs.hku.hk/~kpng/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="http://i.cs.hku.hk/~kpng/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="http://i.cs.hku.hk/~kpng/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="http://i.cs.hku.hk/~kpng/vendor/dist/js/sb-admin-2.js"></script>
</head>
 
{%for parti in user %} 
	{{ parti.get_full_name }} {{ }}
	<br/>
	
{% endfor %}
<!--{% ifequal user.groups.all.0 'HR' %}
-->
<!--
permission denied
{% endifequal %}-->